server {
    listen       80;
    return         303 https://$server_name$request_uri;    
}


server {
    listen 443 ssl default deferred;
    server_name {{ deployment.applicationDNSname }};

    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
    add_header X-Frame-Options SAMEORIGIN;
    add_header X-Content-Type-Options nosniff;
    add_header X-XSS-Protection "1; mode=block";

    ssl on;
    ssl_certificate         /etc/letsencrypt/live/{{ deployment.applicationDNSname }}/fullchain.pem;
    ssl_certificate_key     /etc/letsencrypt/live/{{ deployment.applicationDNSname }}/privkey.pem;
    ssl_trusted_certificate /etc/letsencrypt/live/{{ deployment.applicationDNSname }}/fullchain.pem;
    ssl_protocols TLSv1.1 TLSv1.2;
    ssl_ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5;
    ssl_session_cache shared:SSL:50m;
    ssl_session_timeout 5m;
    ssl_stapling on;
    ssl_stapling_verify on;
    ssl_dhparam /etc/nginx/dhparams.pem;
    ssl_prefer_server_ciphers on;

    resolver 8.8.8.8 8.8.4.4 valid=300s;
    resolver_timeout 2s;
    
    root /var/www/web/;
    index index.php index.html index.htm;

    access_log  /var/log/nginx/{{ deployment.applicationDNSname }}.access.log;
    error_log /var/log/nginx/{{ deployment.applicationDNSname }}.error.log;

    location ~* /(?:uploads|upload|ConfigAndLog|custom|files)/.*\.php$ {
        deny all;
    }

    location ~ ^/.*/files/civicrm/(ConfigAndLog|upload|templates_c|custom) {
        internal;
    }

    location ~ ^/.*/civicrm/install {
        allow {{ vpcCidr }};
        deny all;
    }

    location = /install.php {
        allow {{ vpcCidr }};
        deny all;
    }

    location = /favicon.ico {
        log_not_found off;
        access_log off;
    }

    location = /robots.txt {
        allow all;
        log_not_found off;
        access_log off;
    }

    location ~* \.(txt|log)$ {
        allow {{ vpcCidr }};
        deny all;
    }

    location ~ \..*/.*\.php$ {
        return 403;
    }

    location ~ ^/sites/.*/private/ {
        return 403;
    }

    location ~* ^/.well-known/ {
        allow all;
    }

    location ~ (^|/)\. {
        return 403;
    }

    location / {
        try_files $uri /index.php?$query_string;
    }

    location @rewrite {
        rewrite ^/(.*)$ /index.php?q=$1;
    }

    location ~ /vendor/.*\.php$ {
        deny all;
        return 404;
    }

    location ~ '\.php$|^/update.php' {
        fastcgi_split_path_info ^(.+?\.php)(|/.*)$;
        include fastcgi_params;
        fastcgi_param HTTP_PROXY "";
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_path_info;
        fastcgi_param QUERY_STRING $query_string;
        fastcgi_intercept_errors on;
        fastcgi_pass unix:/var/run/php/php7.0-fpm.sock;
    }

    location ~ ^/sites/.*/files/styles/ {
        try_files $uri @rewrite;
    }

    location ~ ^(/[a-z\-]+)?/system/files/ {
        try_files $uri /index.php?$query_string;
    }

    location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
        expires max;
        log_not_found off;
    }
}