<?php
$databases['default']['default'] = array(
  'database' => '{{ deployment.db }}',
  'username' => '{{ deployment.dbUser }}',
  'password' => '{{ deployment.dbPass }}',
  'host' => '{{ databasePrivateIp }}',
  'port' => '3306',
  'driver' => 'mysql',
  'prefix' => '',
  'charset' => 'utf8mb4',
  'collation' => 'utf8mb4_general_ci',
);

$conf['file_private_path'] = '/var/www/web_private/';
$conf['site_name'] = '{{ deployment.applicationDNSname }}';
$conf['user_register'] = '{{ deployment.drupalUser }}';
$conf['site_mail'] = '{{ deployment.drupalEmail }}';
$conf['date_default_timezone'] = '{{ deployment.drupalTimeZone }}';
$conf['site_default_country'] = '{{ deployment.drupalCountry }}';
$conf['drupal_private_key'] = '{{ deployment.drupalPrivateKey }}';
$conf['user_admin_role'] = '3';
$conf['install_profile'] = 'standard';
$conf['cron_key'] = '{{ deployment.drupalCronKey }}';

$databases['default']['default']['prefix']= array(
  'default' => '',
  'civicrm_acl'                              => '`{{ deployment.dbCivi }}`.',
  'civicrm_acl_cache'                        => '`{{ deployment.dbCivi }}`.',
  'civicrm_acl_contact_cache'                => '`{{ deployment.dbCivi }}`.',
  'civicrm_acl_entity_role'                  => '`{{ deployment.dbCivi }}`.',
  'civicrm_action_log'                       => '`{{ deployment.dbCivi }}`.',
  'civicrm_action_mapping'                   => '`{{ deployment.dbCivi }}`.',
  'civicrm_action_schedule'                  => '`{{ deployment.dbCivi }}`.',
  'civicrm_activity'                         => '`{{ deployment.dbCivi }}`.',
  'civicrm_activity_contact'                 => '`{{ deployment.dbCivi }}`.',
  'civicrm_address'                          => '`{{ deployment.dbCivi }}`.',
  'civicrm_address_format'                   => '`{{ deployment.dbCivi }}`.',
  'civicrm_batch'                            => '`{{ deployment.dbCivi }}`.',
  'civicrm_cache'                            => '`{{ deployment.dbCivi }}`.',
  'civicrm_campaign'                         => '`{{ deployment.dbCivi }}`.',
  'civicrm_campaign_group'                   => '`{{ deployment.dbCivi }}`.',
  'civicrm_case'                             => '`{{ deployment.dbCivi }}`.',
  'civicrm_case_activity'                    => '`{{ deployment.dbCivi }}`.',
  'civicrm_case_contact'                     => '`{{ deployment.dbCivi }}`.',
  'civicrm_case_type'                        => '`{{ deployment.dbCivi }}`.',
  'civicrm_component'                        => '`{{ deployment.dbCivi }}`.',
  'civicrm_contact'                          => '`{{ deployment.dbCivi }}`.',
  'civicrm_contact_type'                     => '`{{ deployment.dbCivi }}`.',
  'civicrm_contribution'                     => '`{{ deployment.dbCivi }}`.',
  'civicrm_contribution_page'                => '`{{ deployment.dbCivi }}`.',
  'civicrm_contribution_product'             => '`{{ deployment.dbCivi }}`.',
  'civicrm_contribution_recur'               => '`{{ deployment.dbCivi }}`.',
  'civicrm_contribution_soft'                => '`{{ deployment.dbCivi }}`.',
  'civicrm_contribution_widget'              => '`{{ deployment.dbCivi }}`.',
  'civicrm_country'                          => '`{{ deployment.dbCivi }}`.',
  'civicrm_county'                           => '`{{ deployment.dbCivi }}`.',
  'civicrm_currency'                         => '`{{ deployment.dbCivi }}`.',
  'civicrm_custom_field'                     => '`{{ deployment.dbCivi }}`.',
  'civicrm_custom_group'                     => '`{{ deployment.dbCivi }}`.',
  'civicrm_cxn'                              => '`{{ deployment.dbCivi }}`.',
  'civicrm_dashboard'                        => '`{{ deployment.dbCivi }}`.',
  'civicrm_dashboard_contact'                => '`{{ deployment.dbCivi }}`.',
  'civicrm_dedupe_exception'                 => '`{{ deployment.dbCivi }}`.',
  'civicrm_dedupe_rule'                      => '`{{ deployment.dbCivi }}`.',
  'civicrm_dedupe_rule_group'                => '`{{ deployment.dbCivi }}`.',
  'civicrm_discount'                         => '`{{ deployment.dbCivi }}`.',
  'civicrm_domain'                           => '`{{ deployment.dbCivi }}`.',
  'civicrm_email'                            => '`{{ deployment.dbCivi }}`.',
  'civicrm_entity_batch'                     => '`{{ deployment.dbCivi }}`.',
  'civicrm_entity_file'                      => '`{{ deployment.dbCivi }}`.',
  'civicrm_entity_financial_account'         => '`{{ deployment.dbCivi }}`.',
  'civicrm_entity_financial_trxn'            => '`{{ deployment.dbCivi }}`.',
  'civicrm_entity_tag'                       => '`{{ deployment.dbCivi }}`.',
  'civicrm_event'                            => '`{{ deployment.dbCivi }}`.',
  'civicrm_event_carts'                      => '`{{ deployment.dbCivi }}`.',
  'civicrm_events_in_carts'                  => '`{{ deployment.dbCivi }}`.',
  'civicrm_extension'                        => '`{{ deployment.dbCivi }}`.',
  'civicrm_file'                             => '`{{ deployment.dbCivi }}`.',
  'civicrm_financial_account'                => '`{{ deployment.dbCivi }}`.',
  'civicrm_financial_item'                   => '`{{ deployment.dbCivi }}`.',
  'civicrm_financial_trxn'                   => '`{{ deployment.dbCivi }}`.',
  'civicrm_financial_type'                   => '`{{ deployment.dbCivi }}`.',
  'civicrm_grant'                            => '`{{ deployment.dbCivi }}`.',
  'civicrm_group'                            => '`{{ deployment.dbCivi }}`.',
  'civicrm_group_contact'                    => '`{{ deployment.dbCivi }}`.',
  'civicrm_group_contact_cache'              => '`{{ deployment.dbCivi }}`.',
  'civicrm_group_nesting'                    => '`{{ deployment.dbCivi }}`.',
  'civicrm_group_organization'               => '`{{ deployment.dbCivi }}`.',
  'civicrm_im'                               => '`{{ deployment.dbCivi }}`.',
  'civicrm_install_canary'                   => '`{{ deployment.dbCivi }}`.',
  'civicrm_job'                              => '`{{ deployment.dbCivi }}`.',
  'civicrm_job_log'                          => '`{{ deployment.dbCivi }}`.',
  'civicrm_line_item'                        => '`{{ deployment.dbCivi }}`.',
  'civicrm_loc_block'                        => '`{{ deployment.dbCivi }}`.',
  'civicrm_location_type'                    => '`{{ deployment.dbCivi }}`.',
  'civicrm_log'                              => '`{{ deployment.dbCivi }}`.',
  'civicrm_mail_settings'                    => '`{{ deployment.dbCivi }}`.',
  'civicrm_mailing'                          => '`{{ deployment.dbCivi }}`.',
  'civicrm_mailing_abtest'                   => '`{{ deployment.dbCivi }}`.',
  'civicrm_mailing_bounce_pattern'           => '`{{ deployment.dbCivi }}`.',
  'civicrm_mailing_bounce_type'              => '`{{ deployment.dbCivi }}`.',
  'civicrm_mailing_component'                => '`{{ deployment.dbCivi }}`.',
  'civicrm_mailing_event_bounce'             => '`{{ deployment.dbCivi }}`.',
  'civicrm_mailing_event_confirm'            => '`{{ deployment.dbCivi }}`.',
  'civicrm_mailing_event_delivered'          => '`{{ deployment.dbCivi }}`.',
  'civicrm_mailing_event_forward'            => '`{{ deployment.dbCivi }}`.',
  'civicrm_mailing_event_opened'             => '`{{ deployment.dbCivi }}`.',
  'civicrm_mailing_event_queue'              => '`{{ deployment.dbCivi }}`.',
  'civicrm_mailing_event_reply'              => '`{{ deployment.dbCivi }}`.',
  'civicrm_mailing_event_subscribe'          => '`{{ deployment.dbCivi }}`.',
  'civicrm_mailing_event_trackable_url_open' => '`{{ deployment.dbCivi }}`.',
  'civicrm_mailing_event_unsubscribe'        => '`{{ deployment.dbCivi }}`.',
  'civicrm_mailing_group'                    => '`{{ deployment.dbCivi }}`.',
  'civicrm_mailing_job'                      => '`{{ deployment.dbCivi }}`.',
  'civicrm_mailing_recipients'               => '`{{ deployment.dbCivi }}`.',
  'civicrm_mailing_spool'                    => '`{{ deployment.dbCivi }}`.',
  'civicrm_mailing_trackable_url'            => '`{{ deployment.dbCivi }}`.',
  'civicrm_managed'                          => '`{{ deployment.dbCivi }}`.',
  'civicrm_mapping'                          => '`{{ deployment.dbCivi }}`.',
  'civicrm_mapping_field'                    => '`{{ deployment.dbCivi }}`.',
  'civicrm_membership'                       => '`{{ deployment.dbCivi }}`.',
  'civicrm_membership_block'                 => '`{{ deployment.dbCivi }}`.',
  'civicrm_membership_log'                   => '`{{ deployment.dbCivi }}`.',
  'civicrm_membership_payment'               => '`{{ deployment.dbCivi }}`.',
  'civicrm_membership_status'                => '`{{ deployment.dbCivi }}`.',
  'civicrm_membership_type'                  => '`{{ deployment.dbCivi }}`.',
  'civicrm_menu'                             => '`{{ deployment.dbCivi }}`.',
  'civicrm_navigation'                       => '`{{ deployment.dbCivi }}`.',
  'civicrm_note'                             => '`{{ deployment.dbCivi }}`.',
  'civicrm_openid'                           => '`{{ deployment.dbCivi }}`.',
  'civicrm_option_group'                     => '`{{ deployment.dbCivi }}`.',
  'civicrm_option_value'                     => '`{{ deployment.dbCivi }}`.',
  'civicrm_participant'                      => '`{{ deployment.dbCivi }}`.',
  'civicrm_participant_payment'              => '`{{ deployment.dbCivi }}`.',
  'civicrm_participant_status_type'          => '`{{ deployment.dbCivi }}`.',
  'civicrm_payment_processor'                => '`{{ deployment.dbCivi }}`.',
  'civicrm_payment_processor_type'           => '`{{ deployment.dbCivi }}`.',
  'civicrm_payment_token'                    => '`{{ deployment.dbCivi }}`.',
  'civicrm_pcp'                              => '`{{ deployment.dbCivi }}`.',
  'civicrm_pcp_block'                        => '`{{ deployment.dbCivi }}`.',
  'civicrm_persistent'                       => '`{{ deployment.dbCivi }}`.',
  'civicrm_phone'                            => '`{{ deployment.dbCivi }}`.',
  'civicrm_pledge'                           => '`{{ deployment.dbCivi }}`.',
  'civicrm_pledge_block'                     => '`{{ deployment.dbCivi }}`.',
  'civicrm_pledge_payment'                   => '`{{ deployment.dbCivi }}`.',
  'civicrm_preferences_date'                 => '`{{ deployment.dbCivi }}`.',
  'civicrm_premiums'                         => '`{{ deployment.dbCivi }}`.',
  'civicrm_premiums_product'                 => '`{{ deployment.dbCivi }}`.',
  'civicrm_prevnext_cache'                   => '`{{ deployment.dbCivi }}`.',
  'civicrm_price_field'                      => '`{{ deployment.dbCivi }}`.',
  'civicrm_price_field_value'                => '`{{ deployment.dbCivi }}`.',
  'civicrm_price_set'                        => '`{{ deployment.dbCivi }}`.',
  'civicrm_price_set_entity'                 => '`{{ deployment.dbCivi }}`.',
  'civicrm_print_label'                      => '`{{ deployment.dbCivi }}`.',
  'civicrm_product'                          => '`{{ deployment.dbCivi }}`.',
  'civicrm_queue_item'                       => '`{{ deployment.dbCivi }}`.',
  'civicrm_recurring_entity'                 => '`{{ deployment.dbCivi }}`.',
  'civicrm_relationship'                     => '`{{ deployment.dbCivi }}`.',
  'civicrm_relationship_type'                => '`{{ deployment.dbCivi }}`.',
  'civicrm_report_instance'                  => '`{{ deployment.dbCivi }}`.',
  'civicrm_saved_search'                     => '`{{ deployment.dbCivi }}`.',
  'civicrm_setting'                          => '`{{ deployment.dbCivi }}`.',
  'civicrm_sms_provider'                     => '`{{ deployment.dbCivi }}`.',
  'civicrm_state_province'                   => '`{{ deployment.dbCivi }}`.',
  'civicrm_status_pref'                      => '`{{ deployment.dbCivi }}`.',
  'civicrm_subscription_history'             => '`{{ deployment.dbCivi }}`.',
  'civicrm_survey'                           => '`{{ deployment.dbCivi }}`.',
  'civicrm_system_log'                       => '`{{ deployment.dbCivi }}`.',
  'civicrm_tag'                              => '`{{ deployment.dbCivi }}`.',
  'civicrm_tell_friend'                      => '`{{ deployment.dbCivi }}`.',
  'civicrm_timezone'                         => '`{{ deployment.dbCivi }}`.',
  'civicrm_uf_field'                         => '`{{ deployment.dbCivi }}`.',
  'civicrm_uf_group'                         => '`{{ deployment.dbCivi }}`.',
  'civicrm_uf_join'                          => '`{{ deployment.dbCivi }}`.',
  'civicrm_uf_match'                         => '`{{ deployment.dbCivi }}`.',
  'civicrm_website'                          => '`{{ deployment.dbCivi }}`.',
  'civicrm_word_replacement'                 => '`{{ deployment.dbCivi }}`.',
  'civicrm_worldregion'                      => '`{{ deployment.dbCivi }}`.',
);